@media (max-width: 1399px) {
    .lang__title {
        font-size: 32px;
        height: 33px;
    }
    .lang {
        width: 69%;
    }
}

@media (max-width: 991px) {
    .lang {
        width: 69%;
    }
    .lang__title {
        font-size: 26px;
        height: 27px;
    }
}

@media (max-width: 767px) {
    .lang__item,
    .lang__overlay {
        width: 150px;
        height: 150px;
        a {
            font-size: 20px;
        }
    }
    .lang__title {
        font-size: 19px;
        height: 20px;
    }
}

@media (max-width: 575px) {
    .lang__item,
    .lang__overlay {
        width: 140px;
        height: 140px;
        a {
            font-size: 20px;
        }
    }
    .lang {
        width: 95%;
    }
    .lang__wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .lang__item,
    .lang__overlay {
        width: 125px;
        height: 125px;
        a {
            font-size: 18px;
        }
    }
}

@media (max-width: 415px) {
    .lang__title {
        display: none;
    }
}